.Builder {
  display: flex;
  margin-left: 2%;
  margin-top: 3%;
  width: 90%;
  justify-content: space-between;
}
.BuilderLeft {
  width: 65%;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 10px -2px rgba(171, 159, 171, 1);
}
.BuilderTips {
  width: 30%;
  background-color: white;
  box-shadow: 0px 0px 10px -2px rgba(171, 159, 171, 1);
  border-radius: 5px;
  height: 80vh;
  position: fixed;
  right: 3%;
}
.BuilderAll {
  width: 80%;
  margin: 4%;
}
.BuilderButtons {
  display: flex;
  justify-content: space-between;
}
.buttons {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px;
  border-radius: 3px;
  color: rgb(102, 48, 216);
  background-color: lightgray;
  border-color: #2e6da4;
  border: none;
  font-weight: 600;
  width: 200px;
  height: 50px;
  cursor: pointer;
  font-size: 11px;
  line-height: 1.42857143;
  transition: all 0.5s ease 0s;
  text-transform: uppercase;
  letter-spacing: 0.05px;
  user-select: none;
  text-transform: uppercase;
}
.buttons:hover {
  color:lightgray;
  background-color: rgb(102, 48, 216);
}