.FirstPage {
  width: 90%;
  margin: 100px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.FirstPageText h1 {
  margin: 0;
  font-size: 55px;
}
.FirstPageText p {
  font-size: 18px;
  color: grey;
  font-weight: 500;
  margin-right: 150px;
}
.FirstPageImage {
  width: 80%;
}
.FirstPageImage img {
  width: 100%;
}
.FirstPageButton {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px;
  border-radius: 3px;
  color: #fff;
  background-color: rgb(102, 48, 216);
  border-color: #2e6da4;
  border: none;
  font-weight: 600;
  cursor: pointer;
  padding: 12px 40px;
  font-size: 10px;
  line-height: 1.42857143;
  margin-top: 20px;
  transition: all 0.2s ease 0s;
  text-transform: uppercase;
  letter-spacing: 0.05px;
  user-select: none;
  text-transform: uppercase;
}
.FirstPageButton:hover {
  color: rgb(102, 48, 216);
  background-color: lightgray;
}
.footer {
  display: flex;
  justify-content: center;
}
.footer p {
  padding: 10px 0;
}
.footer a {
  text-decoration: none;
}
