.CategoryItem {
  width: 20%;
  height: 25vh;
  text-align: center;
  border: 1px solid rgba(128, 128, 128, 0.1);
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px;
  border-radius: 5px;
  padding: 30px 0;
  position: relative;
}
.CategoryItem h3{
  font-size: 24px;
  font-weight: 500;
}
.CategoryItem button {
  position: absolute;
  bottom: 10%;
  right: 10%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px;
  border-radius: 3px;
  color: #fff;
  background-color: rgb(102, 48, 216);
  border-color: #2e6da4;
  border: none;
  font-weight: 600;
  cursor: pointer;
  padding: 6px 15px;
  font-size: 10px;
  line-height: 1.42857143;
  margin-top: 20px;
  transition: all 0.2s ease 0s;
  text-transform: uppercase;
  letter-spacing: 0.05px;
  user-select: none;
  text-transform: uppercase;
}

.CategoryItem button:hover{
  color:rgb(102, 48, 216); 
  background-color: lightgray;
}
