.WebCvProfile {
  display: flex;
  position: relative;
  /* background-color: blue; */
}
.Selected {
  width: 5%;
  height: 40px;
  background-color: rgb(78, 78, 78);
}

.ProfileInfo {
  width: 40%;
  margin-left: 5px;
}
.Name {
  margin: 0;
  font-size: 20px;
}
.Jobs {
  color:  rgba(51, 172, 160, 0.637);
  margin-top: 0;
  margin-bottom: 2px;
}
.Paragraph {
  font-size: 10px;
  margin-top: 0;
}
.About {
  font-size: 10px;
}
.DivImg {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  align-self: center;
}
.Contact {
  font-size: 10px;
  text-align: right;
  position: absolute;
  right: 0;
}
.Contact i {
  margin-left: 5px;
  font-size: 12px;
}
