.WebCvWorkExp {
  width: 100%;
  display: flex;
  margin-top: 3%;
}
.ActiveDiv {
  width: 40%;
  height: 40px;
  background-color:  rgba(51, 172, 160, 0.637);
}
.ExDetails {
  margin-left: 10px;
}
.Position {
  margin: 0;
  font-weight: bold;
}
.Company {
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 0;
}
.DatesExperience {
  display: flex;
}
#isPresent {
  width: max-content;
}
.DatesExperience input {
  width: 120px;
  font-size: 12px;
  font-weight: 900;
  background-color: transparent;
  border: none;
  color:  rgba(51, 172, 160, 0.637);
}
.Present {
  margin: 0;
  color:  rgba(51, 172, 160, 0.637);
}
.CityOfWork {
  font-size: 12px;
  font-weight: bold;
  text-align: right;
  width: max-content;
  color:  rgba(51, 172, 160, 0.637);
}
.AccomplishmentsUl li::before {
  content: "■";
  font-family: "Arial Black";
  color:  rgba(51, 172, 160, 0.637);
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
.AccomplishmentsUl li {
  font-size: 12px;
}
.AccomplishmentsUl {
  list-style-type: none;
  padding-left: 7%;
  margin: 0;
}
