.Details {
  /* background-color: blueviolet; */
  margin-top: 5%;
}
.AllDetailsExperience {
  /* background-color: aqua; */
  display: flex;
  justify-content: space-between;
}
.WorkExperience {
  width: 48%;
  /* background-color: chocolate; */
}
.Skills {
  width: 48%;
  /* background-color: darkred; */
}
.CV-inside {
  position: relative;
  width: 85%;
}
.TitlesForCvExp {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
}