.WebEducation {
  display: flex;
}
.ActiveDivv {
  width: 10%;
  height: 40px;
  background-color: rgba(51, 172, 160, 0.637);
}
.DatesExperienceEdu {
  display: flex;
  flex-direction: column;
}
.DatesExperienceEdu input {
  width: 120px;
  font-size: 12px;
  font-weight: 900;
  background-color: transparent;
  border: none;
  color: rgba(51, 172, 160, 0.637);
}
.Edu {
  margin-left: 5px;
  width: 80%;
}
.Program {
  margin: 0;
  font-size: 18px;
}
.Institution {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 13px;
}
