.WebSkills {
    display: flex;
    flex-wrap: wrap;
}
.WebSkills p {
    background-color: rgba(51, 172, 160, 0.637);
    color: white;
    margin:  5px;
    width: max-content;
    padding: 8px;
    font-weight: 700;
    border-radius: 5px; 
    font-size: 12px;
}