.LinkedInd {
    width: 100%;
    position: relative;
}
.linkedinImg {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    /* background-color: yellow; */
    position: absolute;
    left: 3.5%;
    top: 7.8%;
}