.Footer {
  display: flex;
  z-index: 9999;
}
.yellow {
  background-color: yellow;
  width: 50%;
  color: white;
  font-size: 14px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.laika {
  background-color: purple;
  color: white;
  font-size: 14px;
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.visit {
  background-color: black;
  color: white;
  border: none;
  text-transform: uppercase;
  padding: 9px 20px;
  margin: 0 10px;
  border-radius: 3px;

}

.visitA{
  text-decoration: none;
  color: white;
  font-size: 10px;
}