.MarketingCvExperience {
    margin-left: 3%;
    margin-top: 5%;
  }
  
  .MarketingExperience h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
  }
  .MarketingExperience h4 {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
  }
  .MarketingExperience p {
    margin: 0;
    color: rgb(43, 151, 140);
  }
  .MarketingExUl {
    padding-left: 6%;
    margin: 0;
  }
  .MarketingExUl li{
    list-style: circle;
    color: rgb(43, 151, 140);;
    
  }
  .MarketingExUl li span {
    font-size: 12px;
    color: black;
  }
