.MarketingSkills {
    display: flex;
    flex-wrap: wrap;
}
.MarketingSkills p {
    background-color: rgb(43, 151, 140);
    color: white;
    margin:  5px;
    width: max-content;
    padding: 6px 6px;
    border-radius: 5px; 
    font-size: 10px;
}