.CV-marketing {
  width: 90%;
  position: relative;
}
.MarketingExperienceandEducation {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 90%;
}
.MarketingWork {
  font-size: 18px;
  text-transform: uppercase;
  color: rgb(43, 151, 140);
}
