.MarketingCvEducation h3{
    margin: 0;
    font-size: 18px;
    }
    .MarketingCvEducation h5 {
        margin: 0;
        font-size: 15px;
        font-weight: 400;
    }
    .MarketingCvEducation {
        margin-top: 7%;
    }
    .MarketingCvEducation p {
        margin: 0;
        color: rgb(43, 151, 140);
    }
      .MarketingUl {
        padding-left: 6%;
        margin: 0;
      }
      .MarketingUl li{
        list-style: circle;
        color: rgb(43, 151, 140);;
        
      }
      .MarketingUl li span {
        font-size: 12px;
        color: black;
      }