.MarketingCvProfile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3%;
    margin-left: 3%;
}
.MarketingImg {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.MarketingProfileInfo {
   width: 80%;
}
.MarketingProfileName {
    margin: 0;
    font-size: 20px;
}
.MarketingProfileProffesion {
    margin: 0;
    font-size: 15px;
    color: rgb(43, 151, 140);
}
.MarketingProfileAbout {
    margin: 0;
    font-size: 10px;
    padding-right: 10%;
}