.MarketingCvContact {
 background-color: rgb(43, 151, 140);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3% 0;
    color: white;
}
.MarketingCvContact p {
    margin-top: 2%;
    margin-left: 1%;
    font-size: 10px;
}
.MarketingCvContact i {
    font-size: 10px;
    margin-left: 1%;
}