.CV-design {
  position: relative;
  width: 90%;
  margin-top: 18%;
  border: 2px solid black;
  margin-left: 3%;
}
.DesignInfo {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.DesignTitles {
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 5px;
}
.DesignExperienceContact {
    width: 48%;
}
.DesignEducationSkills {
    width: 48%;
}