.DesignProfile {
  width: 50%;
  background-color: black;
  height: 30vh;
  color: white;
  display: flex;
  flex-direction: column;
  left: -2px;
  position: absolute;
  top: -15%;
  display: flex;
  justify-content: flex-end;
}
.DesignProfile h2 {
  font-size: 30px;
  margin: 0;
  letter-spacing: 1.5px;
  padding-right: 100px;
}
.DesignProfile p {
  font-size: 20px;
  margin: 0;
  letter-spacing: 7px;
  margin-bottom: 10px;
}
