.DesignExperience h3
 {
  margin: 0;
  font-size: 14px;
}
.DesignExperience h4 {
  margin: 0;
  font-size: 14px;
}
.DesignExperience ul {
  margin: 0;
  font-size: 14px;
}
.DesignExperience ul {
  list-style: none;
  padding-left: 0;
}
.DesignExperience ul li {
  font-size: 12px;
}
.DesignExperience h4 {
  margin-bottom: 5px;
}
.DesignExperience {
  margin-bottom: 40px;
}
