.DataSkillsUl {
  padding-left: 0;
  list-style: none;
}
.DataSkillsUl li {
  margin-top: 10px;
  font-size: 13px;
  display: flex;
  justify-content: space-between;
}
.DataSkillsUl li span {
  height: 10px;
  width: 10px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid black;
  display: inline-block;
  margin-left: 5px;
}
