.DataCvExperience {
  margin-left: 3%;
  margin-top: 5%;
}

.DataExperience h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}
.DataExperience h4 {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}
.DataExperience p {
  margin: 0;
  color: gray;
}
.DataUl {
  list-style: none;
  padding-left: 4%;
  margin: 0;
}
.DataUl li {
  font-size: 12px;
}
.DataUl li:before {
  display: inline-block;
  content: "-";
  width: 1em;
  margin-left: -1em;
  color: gray;
}
