.DataCvProfile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3%;
    margin-left: 3%;
}
.DataImg {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.DataProfileInfo {
   width: 80%;
}
.DataProfileName {
    margin: 0;
    font-size: 20px;
}
.DataProfileProffesion {
    margin: 0;
    font-size: 15px;
}
.DataProfileAbout {
    margin: 0;
    font-size: 10px;
    padding-right: 10%;
}