.DataCvEducation h3{
margin: 0;
font-size: 18px;
}
.DataCvEducation h5 {
    margin: 0;
    font-size: 15px;
    font-weight: 400;
}
.DataCvEducation {
    margin-top: 7%;
}
.DataCvEducation p {
    margin: 0;
    color: gray;
}
.DataUl {
    list-style: none;
    padding-left: 4%;
    margin: 0;
  }
  .DataUl li {
    font-size: 12px;
  }
  .DataUl li:before {
    display: inline-block;
    content: "-";
    width: 1em;
    margin-left: -1em;
    color: gray;
  }