.DataCvContact {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3% 0;
}
.DataCvContact p {
    margin-top: 2%;
    margin-left: 1%;
    font-size: 10px;
}
.DataCvContact i {
    font-size: 10px;
    margin-left: 1%;
}