.CV-web {
  width: 90%;
  position: relative;
}
.DataExperienceandEducation {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 90%
}
.DataWork {
  font-size: 18px;
  text-transform: uppercase;
}
.DataCertificates {
    margin: 10px 0 0 0 ;
    font-size: 14px;
    font-weight: 600;

}
.DataLanguages h4{
    margin: 10px 0 0 0 ;
    font-size: 14px;
}
.DataLanguages p {
    margin: 0 ;
    font-size: 12px;
}
